.container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.retornoJSON {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-alteraInfo {
    border: 1px solid #ccc;
    width: 322px;
}

.alteraInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.alteraInfo input {
    width: 300px;
}